---
import Layout from '../layouts/default.astro';
import {
  ArticleList,
  PageHeader,
  PageHeadingGroup,
  PageLead,
  PageSubheading,
  PageTitle,
} from '../design-system/index.js';
import data from '../../data/about/dkundel.json';
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
	  <Layout title="Writing">
	  <PageHeader>
	  <!-- <PageIcon Icon={Writing} /> -->
	  <PageHeadingGroup>
	    <PageTitle>Writing</PageTitle>
	    <PageLead>
	      I love telling stories through code and explaining technical
	      concepts. As a result you'll find me regularly blogging on various
	      platforms such as{' '}
	      <a href="https://twilio.com/blog/author/dkundel">the Twilio Blog</a>
	      , <a href="https://dev.to/dkundel">dev.to</a>, or{' '}
	      <a href="/blog">my personal blog</a>.
	    </PageLead>
	    <PageLead>
	      Here's a list of some of my technical content published online and
	      in print.
	    </PageLead>
	  </PageHeadingGroup>
	  </PageHeader>
	  <PageSubheading>Online Posts</PageSubheading>
	  <ArticleList list={data.technicalWriting.online._listExtended} reverseOrder={true} />
	  <PageSubheading>Printed Articles</PageSubheading>
	  <ArticleList list={data.technicalWriting.print._list}/>
	  </Layout>
